.vscode/*
.DS_STORE/*
.settings/*


\.idea/*

python/log\.txt

tests/*
*.pyc

venv/bin/

venv/lib/python3\.6/site-packages/

venv/

dist/
__pycache__/
build/art/xref-art.html
build/art/warn-art.txt
build/art/PYZ-00.toc
build/art/PYZ-00.pyz
build/art/PKG-00.toc
build/art/PKG-00.pkg
build/art/EXE-00.toc
build/art/base_library.zip
build/art/art.exe.manifest
build/art/Analysis-00.toc
art.spec
