[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altgraph = "==0.17"
common = "==0.1.2"
future = "==0.18.2"
pefile = "==2019.4.18"
pyaml = "==20.3.1"
pyinstaller = "==3.6"
pywin32-ctypes = "==0.2.0"
yagmail = "==0.14.247"
ruamel-yaml = "==0.17.21"


[dev-packages]

[requires]
python_version = "python 3"
